POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_NAME=digichecks-ontology

JWT_SECRET_KEY=your_jwt_secret_key_here

LACES_USERNAME=your_laces_username_here
LACES_PASSWORD=your_laces_password_here